{
  "globals": {
    "document": true,
    "localStorage": true,
  },
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [0],
    "react/prefer-stateless-function": [0],
    "react/prop-types": [0],
    "no-console": [0],
    "no-useless-constructor": [0],
    "arrow-parens": [0],
    "no-underscore-dangle": [0],
  }
}
