@import '../../styles/main';

.Login {
  &__form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &--isInvalid {
      .LabelInput {
        border-color: $djv-red;
      }
    }
  }
  &__input {
    text-align: center;
    height: 36px;
    box-shadow: none;
    outline: none;
    border: 1px solid $djv-green;
    border-radius: 2px;
    padding: 8px;
    font-size: 12px;
    line-height: 20px;
    background-color: $white;
    &:focus {
      outline: none;
    }
    &--top {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 1px solid $djv-green;
    }
    &--bottom {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-bottom: 8px;
    }
  }
  &__button {
    height: 44px;
    appearance: none;
    outline: none;
    border: 2px solid $djv-green;
    border-radius: 2px;
    background-color: $djv-green;
    color: $white;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background-color: lighten($djv-green, 3);
    }
    &:focus {
      outline: none;
    }
  }
}
